* {
    font-weight: 700;
    font-family: Roboto, sans-serif;
}

:root {
    --otc-headings-primary: #333333;
    --otc-text-primary: #3D3D3D;
    --otc-text-secondary: #555555;
    --otc-dark-blue: #002C57;
    --otc-blue: #00447B;
    --otc-yellow: #FFCB05;
    --otc-grey: #A7A9AC;
    --otc-web-grey: #E0E3E6;
    --otc-light-blue: #18B4E9;
    --otc-pink: #D0108E;
    --otc-green: #71C044;
    --otc-link-color: #154ae1;
    --white: #ffffff;
    --error: rgb(255, 92, 92);
}
body {
    background-color: var(--otc-web-grey);
}
nav {
    background-color: var(--otc-dark-blue);
}
.text {
    font-weight: 700;
    font-family: Roboto, sans-serif;
    color: var(--white);
}

.main {
    margin-left: 10%;
    margin-right: 10%;
}

.selectBoxContainer {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.calendar :nth-child(-n+6) {
    background-color: var(--otc-grey);
}

.highlight {
    background-color: var(--otc-web-grey);
}

.calendar {
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 140px repeat(5, 1fr);
    grid-auto-rows: 35px;
    border: 1px solid #ccc;
    margin-bottom: 100px;
    border-radius: 3px;
}

.time-slot,
.day {
    border: 1px solid #ddd;
    text-align: center;
    padding: 5px;
}

.block {
    background-color: #007bff;
    width: 100%;
    height: 100%;
}
.selected {
    background-color: var(--otc-dark-blue) !important;
    box-shadow: none !important;
}
table { 
    border: 1px solid #ddd;
    border-collapse: separate;
    border-radius: 10px;
    border-spacing: 0px;
}
thead {
    border-color: inherit;
    border-collapse: separate;
}
tr {
    border-color: inherit;
}
th, td {
    border-left: 1px solid #ddd;
    width: 15%;    
}
td {
    border-top: 1px solid #ddd;
}
td:first-child, th:first-child {
    width: 25%;
}
thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
    border-radius: 10px 0 0 0;
}
thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
th:last-child, td:last-child {
    border-right: 0px;
}
.logo
{
    width:50px;
    height:50px;
    background-image: url('https://services.otc.edu/media/uploads/sites/19/sites/14/2019/03/favicon-otc2019.jpg');
    background-size: cover;
    border-radius: 10px;
}

.start {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.end {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#error {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 30%;
    min-height: 10%;
    color: var(--error);
    display: inline-block;
    text-align: center;
    font-size: larger;
}